<section class="post-container container">
    <% site.posts.forEach(function(post) { %>
        <section class="post-article">
            <a class="title" href="/<%- post.path %> "><%- post.title %></a>
            <p class="date"><%- date(post.date, "LL") %></p>
            <section class="desc font-one">
                <%- post.more.replace(/<\/?.+?\/?>/g, "").substring(0, 100) %>
                ... 
            </section>
        </section>
    <% }); %> 
</section>