<section class="container">
    <div class="article-info">
        <p class="date">
            <%- date(page.date, "LL") %>
        </p>
        <h2 class="title">
            <%= page.title %> 
        </h2>
    </div>
    
    <section id="article" class="font-one article-detail">
        <%- page.content %>
    </section>
</section>
