* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    font-family: PingFangSC-Regular, Microsoft Yahei UI, Noto Sans CJK SC DemiLight, sans-serif;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

/* font */
.font-one {
    font-size: 1rem;
    line-height: 2rem;
    font-style: normal;
    font-family: microsoft yahei;
    /* font-family: Menlo, Monaco, "Droid Sans", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif; */
}

.font-one p {
    margin-bottom: 1.45rem;
}

/* full page */
.full-page {
    min-height: 80vh;
}

.container {
    margin: 0 auto;
    padding: 5px 10px;
    max-width: 760px;
}

/* header */
.tons-header {
    background-color: #fcfcfc;
    border-bottom: solid 1px #ddd;
}

.tons-header ul {
    margin: 0 auto 0;
    padding: 1rem 0;
    display: flex;
    vertical-align: top;
}

.tons-header ul li {
    vertical-align: top;
    margin: 0 1.5em 0 0;
    font-size: 1.1rem;
}

header a.menu__item {
    color: rgba(0,0,0,0.3);
    border-color: transparent;
    display: inline-block;
}

header a.menu__item:hover {
    color: #000;
    border-bottom: 2px solid #000;
}

/* index post */
section.post-article {
    padding: 3rem 0 2rem;
    border-bottom: solid 1px #ddd;
}

section.post-article a.title {
    font-size: 1.5rem;
    color: #444;
    text-decoration: none;
    font-weight: 400;
    border-bottom: none;
}

section.post-article p.date {
    color: #a3abb3;
    font-size: .9rem;
    margin-top: .5rem;
}

section.post-article a.title:hover {
    color: #000;
    border-bottom: 2px solid #000;
}

section.post-article section.desc {
    margin-top: 1.5rem;
}

/* single article */
.article-info p.date {
    color: #a3abb3;
    font-size: .9rem;
    margin-top: .5rem;
}

.article-info h2.title {
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-top: 0.3rem;
    color: #444;
    font-weight: 400;
}

.article-detail a {
    /* color: rgba(0,0,0,0.5); */
    /* border-color: transparent; */
}

.article-detail a:hover {
    color: #000;
    border-bottom: 2px solid #000;
}

/* footer */

/* archives */
.archive {
    max-width: 700px;
    margin: 5rem auto;
}

.archive a:hover {
    border-bottom: 2px solid #000;
}

.archive .archive-year {
    margin: 1.8rem 0;
}

.archive .post-date {
    width: 4rem;
    color: #7f8c8d;
    float: left;
}
.archive .post-title {
    margin-left: 1rem;
    display: inline-block;
    word-wrap: break-word;
}

.archive ul {
    margin-left: 1.5rem;
}
.archive ul li {
    line-height: 1.6;
}

.archive .archive-year {

}
